<html>
    <body>
       <%= refugio.id_ref%> 
       <%= refugio.nombre_ref%> 
       <%= refugio.direccion_ref %> 
       <%= refugio.ciudad_ref %> 
       <%= refugio.telefono_ref %> 
       <%= refugio.correo_ref %> 
       <%= refugio.nit_ref%> 
       <%= refugio.username%> 
       <%= refugio.password%> 
      </body>
</html>