<html>
    <body>

       <%= mascota.codigo_mas %> 
       <%= mascota.nombre_mas %> 
       <%= mascota.raza_mas %> 
       <%= mascota.color_mas %> 
       <%= mascota.peso_mas %> 
       <%= mascota.edad_mas %> 
       <%= mascota.enfermedades_mas %> 
       <%= mascota.ciudad_mas %> 
       <%= mascota.discapacidades_mas %> 
       <%= mascota.foto_mas %> 
        </body>
</html>