<html>
    <body>

       <%= persona.cedula_per %> 
       <%= persona.nombre_per %> 
       <%= persona.ocupacion_per %> 
       <%= persona.ingresos_per %> 
       <%= persona.direccion_per %> 
       <%= persona.ciudad_per %> 
       <%= persona.telefono_per %> 
       <%= persona.correo_per %> 
       <%= persona.cantidad_per %> 
       <%= persona.foto_mas %> 
        </body>
</html>