<html>
    <body>

       <%= personas.cedula_per %> 
       <%= personas.nombre_per %> 
       <%= personas.ocupacion_per %> 
       <%= personas.ingresos_per %> 
       <%= personas.direccion_per %> 
       <%= personas.ciudad_per %> 
       <%= personas.telefono_per %> 
       <%= personas.correo_per %> 
       <%= personas.cantidad_per %> 
       <%= personas.foto_mas %> 
        </body>
</html>